{% extends 'base.html.twig' %}

{% block Stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Posts list</h1>
    <hr>

        {% for post in posts %}
            <div class="index-post">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <ul>
                    {% for comment in post.comments %}
                        <li>
                            <p> {{ comment.content }} </p>
                        </li>
                    {% endfor %}
                </ul>
                <div class="index-post-menu">
                    <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                    &boxv;
                    <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                    &boxv;
                    <a href="{{ path('comment_new', { 'id': post.id }) }}">comment</a>
                    &boxv;
                    <td>{% if post.postedat %}{{ post.postedat|date('D H:i') }}{% endif %}</td>
                </div>
            </div>
        {% endfor %}

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
